body {
  min-height: 100vh;
  background-color: aqua;
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;

}

a {
  text-decoration: none;
}

.header__top {}

.container {
  border: 1px solid black;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;

}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.menu__list-item+.menu__list-item {
  margin-left: 32px;
  
}

.menu__list-link {
  padding:  0 9px 9px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #373A39;
  font-weight: bold;
  font-family: 'Releway', sans-serif ;
  letter-spacing: 0.6px;
  transition: all;
}

.menu__list-link:hover {
  border-bottom: 1px solid #FCBB08;
}


.menu_list {
  display: flex;
}