body {
  padding: 10px;
  background-color: lightcoral;
  text-align: center;
}


.name {
}
.yrke {
}


.text {
 font-size: 24px;
 font-weight: 700;
 text-align: center;
 width: 400px;
 margin: 0  auto;
}

.img{
  width: 300px;
  border-radius: 20px;
  

}
