*{
  padding: 0;
  margin: 0;
  border: 0;
}


.exempel {
  max-width: 1000px;
  min-width: 1px;
  border-style: dashed;
  border-width: 1px;
 border-color: black;
 height: 100px;
 align-items: center;
 min-height: 100px;
}