*{
  padding: 0;
  margin: 0;
  border: 0;
}


body {
  padding: 33px;
}


.block {
height: 200px;
border-radius: 15px;
box-shadow: 0 0 10PX black;
background: url('../image/frontend.png') 0 0/contain  no-repeat;


}