
*{
  margin: 0px;
}


.wraper {
  width: 1200px;
  margin-right: auto;
  margin: 150px auto;
  border: 1px solid red;
   
}
.title,.title1 {
text-align: center;
font-size: 30px;
position:sticky;
}


.title1 {

}


.title2 {

  position:sticky;
  background-color: #fff;
  z-index:1;
  margin: 20px auto;
}

.title2::before
 {
  content: '';
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
  border-radius: 50%;
  left: 250px;
  transform:rotate(30deg);




}




.image_arw {
  cursor: pointer;
  position: sticky;
}

.image_arw:hover {
  cursor: pointer;
  position: sticky;
  transform: translate(10px, 10px);
  transition: all 0s;

}

.text1 {
  font-size: 20px;
  background-color: lightgreen;
  padding: 50px;
/* border: solid rgb(211, 18, 18) 5px; */
  width: 600px;
  box-sizing: border-box;
  height: 500px;
  overflow: auto;
}

.text2 {
  font-size: 18px;
}

.text3 {
  font-style: italic;
}

.text4 {
  text-align: right;
}

.box {
border: 1px solid green;
background-color: lightsalmon;
height: 400px;
margin: auto;
position: relative;
}

.text8{
padding: 20px;
background-color: black;
color: #fff;
width: 400px;
position: absolute;
right: 100px;
top: auto;
}





.images_1 {
}
.text3 {
}

.list {
}
.text5 {
}