
*{
  margin: 0px;
}


.wraper {
  width: 1200px;
  margin-right: auto;
  margin: 150px auto;
  border: 1px solid red;
   
}
.title {
text-align: center;
}

.title1::before{
 content: ''; 
background-color: aqua;
 width: 50px;
 height: 50px;
 position: absolute;
 border-radius: 25px;
 padding: 15px 0 0px 0;

}


















.text1 {
  font-size: 20px;
 background-color: lightgreen;
 padding: 50px;
/* border: solid rgb(211, 18, 18) 5px; */
width: 600px;
box-sizing: border-box;
height: 500px;
overflow: auto;



}




.text2 {
  font-size: 18px;
}

.text3 {
  font-style: italic;
}
.text4 {
  text-align: right;
}





.images_1 {
}
.text3 {
}

.list {
}
.text5 {
}