
.title1 {
  background-color: aqua;
  width: fit-content;
  display: block;
  margin: 50px auto;
  border: 1px solid red;
  
}
.img1 {
  width: calc(100% - 50%);

}

.img {
  
 border: 1px solid red;
 display: block;
}